---
- name: Ensure some file systems
  community.general.filesystem:
    dev: "{{ i.dev | default(i.device) | default(omit) }}"
    force: "{{ i.force | default(omit) }}"
    fstype: "{{ i.fstype | default(i.type) | default(omit) }}"
    opts: "{{ i.opts | default(omit) }}"
    resizefs: "{{ i.resizefs | default('no') }}"
    state: "{{ i.state | default(omit) }}"
  register: _task_result
  when: "{{ i.when | default(omit) }} | default(omit)" # noqa no-jinja-when
  tags: "{{ i.tags | default(omit) }}"
  diff: "{{ i.diff | default(omit) }}"
  notify: "{{ i.notify | default(omit) }}"
  timeout: "{{ i.timeout | default(omit) }}"
  check_mode: "{{ i.check_mode | default(omit) }}"
  # failed_when: "i.failed_when | default(omit)"
  # changed_when: "i.changed_when | default(omit)"
  become: "{{ i.become | default(omit) }}"
  become_exe: "{{ i.become_exe | default(omit) }}"
  become_user: "{{ i.become_user | default(omit) }}"
  become_flags: "{{ i.become_flags | default(omit) }}"
  # ignore_errors: "{{ i.ignore_errors | default(omit) }}"
  retries: "{{ i.retries | default(omit) }}"
  delay: "{{ i.delay | default(omit) }}"
  until: "{{ i.until | default(omit) }} | default(omit)"
  loop_control:
    loop_var: i
  loop: "{{ meva_filesystems }}"
